h1{
   color: #fbebd6;
    background-color: #8a2928;
    text-align: center;
    margin: 20px 2px 20px 5px;

}
.item1{
    box-sizing: border-box;
    background-color: #c0c0c0;
    padding: 15px 15px 15px 15px;
    margin: 20px 2px 0 5px;
}

.item2{
    box-sizing: border-box;
    height: 90px;
    background-color: #6496ec;
    padding: 35px 5px 5px 15px;
    margin: 0 2px 0 5px;

}

.item3{
    height: 200px;
    width: 200px;
    background-color: #6cba68;
    margin: 0 0 0 5px;
}

.item4{height: 200px;
    width: 200px;
    background-color: #8987ac;
    margin: 0 0 0 5px;
    border-radius: 18px;
}