
.main{
    box-sizing: border-box;
    height: 455px;
    width: 610px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
}

#a-box{
    box-sizing: border-box;
    height: 145px;
    width: 600px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: silver;
    margin-bottom: 5px;

}

#b-box{
    box-sizing: border-box;
    height: 145px;
    width: 450px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: silver;



}
.small-box{
    box-sizing: border-box;
    height: 145px;
    width: 145px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: silver;
}

#small3{
    box-sizing: border-box;
    height: 160px;
    width: 450px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;




}


#4-box{
    box-sizing: border-box;
    width: 305px;
    height: 310px;
    display: flex;


}

#down-box{
    box-sizing: border-box;
    width: 620px;
    height: 200px;
    display: flex;
}
#f-box{
    box-sizing: border-box;
    width: 145px;
    height: 295px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: silver;
    margin-left:5px;


}
