
#main{
    box-sizing: border-box;
    height: 330px;
    width:510px;
    display: flex;
    flex-direction: column;
    grid-gap: 5px;

}
#a-box {
    box-sizing: border-box;
    width: 440px;
    height: 120px;
    background-color: silver;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border-radius: 5px;
    grid-gap: inherit;
}

#h-box {
    width: 125px;
    height: 205px;
    background-color: silver;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}

#boxes > div {

    width: 100px;
    height: 100px;
    background-color: silver;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#down-box{
    box-sizing: border-box;
    height: 310px;
    width: 500px;
    display: flex;
    grid-gap: inherit;






}

#boxes{
    width: 310px;
    height: 205px;
    display: flex;
    grid-gap: inherit;
    justify-content: space-between;
    flex-wrap: wrap

}